.container{
    width: 30vw;
    background-color: rgb(248, 246, 244);
    border-radius: 24px;
}

body{
    margin-top: 240px;
    background-color: rgb(47, 184, 184);
    
}

.image{
    width: 200px;
    margin-top:130px;
}

@media only screen and (min-width: 360px) {
    .container{
        width: 95vw;
    }
    body{
        width: 100vw;
        font-size: 15px;
    }
    .image{
        width: 100px;
        margin-top:200px;
    }
  }

  @media only screen and (min-width: 768px) {
    .container{
        width: 70vw;
    }
    body{
        font-size: 18px;
    }
    .image{
        width: 150px;
        margin-top:130px;
    }
  }
  @media only screen and (min-width: 600px) {
    .container{
        width: 70vw;
    }
    body{
        font-size: 15px;
    }
    .image{
        width: 120px;
        margin-top:150px;
    }
  }
  @media only screen and (min-width: 1024px) {
    .container{
        width: 70vw;
    }
    body{
        font-size: 25px;
    }
    .image{
        width: 200px;
        margin-top:100px;
    }
  }
